<%= form_with(model: feed, local: true, class: 'form-horizontal') do |form| %>
  <% if feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feed.errors.count, "error") %> prohibited this feed from being saved:</h2>

      <ul>
      <% feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <div class="form-group">
      <%= form.label :name, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
      <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :url, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.text_field :url, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :cover, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.file_field :cover, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :offset, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.number_field :offset, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :is_finished, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.check_box :is_finished, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :total_ep_count, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.number_field :total_ep_count, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= form.label :auto_finish, class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= form.check_box :auto_finish, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= form.submit "Confirm", class: 'btn btn-info' %>
      </div>
    </div>
  </fieldset>
<% end %>
