<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<%= link_to (fa_icon "plus"), new_feed_path, class: 'btn btn-primary' %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>URL</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.name %></td>
        <td><%= feed.url.truncate(15) %></td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-info" style="width: <%= "#{feed.amount.to_f / feed.total_ep_count.to_f}" %>"></div>
          </div>
        </td>
        <td>
          <%= link_to (fa_icon "check"), feed, class: 'btn btn-info' %>
          <%= link_to (fa_icon "edit"), edit_feed_path(feed), class: 'btn btn-warning' %>
          <%= link_to (fa_icon "trash"), feed, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
