<p id="notice"><%= notice %></p>

<p><%= @feed.name %></p>
<p><%= @feed.url %></p>

<% @feed.items.each do | item | %>
<p><%= item.name %></p>
<% end %>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
