<div class="panel panel-info row">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @feed.name %></h3>
  </div>
  <div class="panel-body">
    <div class="well well-sm">
      <p class="text-success"><%= @feed.url %></p>
    </div>
    <ul class="list-group col-md-8 col-xs-12">
      <% @feed.items.each do | item | %>
      <li class="list-group-item">
        <span class="badge"><%= item.status %></span>
        <%= item.name %>
        <%= link_to (fa_icon "play"), bangumi_play_path(item), class: 'btn btn-success btn-sm'%>
        <%= link_to (fa_icon "check"), item, class: 'btn btn-primary btn-sm' %>
        <%= link_to (fa_icon "edit"), edit_item_path(item), class: 'btn btn-warning btn-sm' %>
        <%= link_to (fa_icon "trash"), item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </li>
      <% end %>
    </ul>
    <div class="col-xs-12 col-md-4">
      <%= link_to (fa_icon "arrow-left"), feeds_path, class: 'btn btn-primary' %>
      <%= link_to (fa_icon "edit"), edit_feed_path(@feed), class: 'btn btn-warning' %>
    </div>
  </div>
</div>
