<%= @tasks %>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cron</th>
      <th>Status</th>
      <th>Queue</th>
      <th>Last Enqueue</th>
      <th>Message</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do | task | %>
  <tr>
    <td><%= task.name %></td>
    <td><span class="label label-primary", style="font-family:monospace"><%= task.cron %></span></td>
    <td><%= task.status %></td>
    <td><%= task.queue_name_with_prefix %></td>
    <td><%= task.last_enqueue_time %></td>
    <td><%= task.message %></td>
    <td>
      <%= link_to fa_icon('plug'), cron_task_enqueue_path(task.name), class: "btn btn-danger" %>
      <% if task.status == 'enabled' %>
      <%= link_to fa_icon('pause'), cron_task_toggle_path(task.name), class: "btn btn-warning" %>
      <% else %>
      <%= link_to fa_icon('play'), cron_task_toggle_path(task.name), class: "btn btn-success" %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table> 