<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= item.name %>
      <% est = (DateTime.now.to_date - item.last_updated.to_date).to_i %>
      <a class="btn btn-info btn-xs pull-right" data-toggle="tooltip" title="" data-placement="top" data-original-title="<%= item.last_updated %>">
        <%= fa_icon "clock-o" %> <%= est %> <%= if est > 1 then "days" else "day" end %>
      </a>
    </h3>
  </div>
  <div class="panel-body">
    <div class="thumbnail">
      <a href="<%= url_for bangumi_show_path(item) %>" class="thumbnail">
        <%= image_tag bangumi_cover_url(item) %>
      </a>
    </div>
    <div class="btn-group">
      <% i = item.items.sort_by {| obj | obj.ep_id }.reverse %>
      <%= link_to "#{fa_icon "play"} EP ##{i.first.ep_id} #{case i.first.status when "DOWNLOADING" then fa_icon "download" when "SLICING" then fa_icon "bolt" when "PENDING_SLICE" then fa_icon "bolt" end}".html_safe, bangumi_play_path(i.first), class: "btn btn-sm #{if i.first.status != 'AVAILABLE' then 'btn-warning' else 'btn-success' end}"%>
      <% i.delete(i.first) %>
      <div class="btn-group">
        <a class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
          <%= fa_icon "history" %>&nbsp;
          <%= fa_icon "caret-down" %>
        </a>
        <ul class="dropdown-menu">
          <% i.each do | ep | %>
          <li><%= link_to "EP ##{ep.ep_id} #{case ep.status when "DOWNLOADING" then fa_icon "download" when "SLICING" then fa_icon "bolt" when "PENDING_SLICE" then fa_icon "bolt" end}".html_safe, bangumi_play_path(ep.id) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
