<div class="list-group">
  <% item.feed.items.sort_by {| obj | obj.ep_id }.each do | ep | %>
  <a href="<%= url_for(bangumi_play_path(ep.id)) %>" class="list-group-item <%= if ep.id == item.id then 'active' end %>">
    <h4 class="list-group-item-heading"><%= if ep.id == item.id then fa_icon 'play' end %> EP #<%= ep.ep_id %> <%= " #{case ep.status when "DOWNLOADING" then fa_icon "download" when "SLICING" then fa_icon "bolt" when "PENDING_SLICE" then fa_icon "bolt" end}".html_safe %></h4>
    <p class="list-group-item-text"><%= ep.name %></p>
  </a>
  <% end %>
</div>
