<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "#{fa_icon "times"}No vid you say..".html_safe, root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li class="<%= if current_page?(bangumi_index_path) then 'active' end %>"><%= link_to (fa_icon "film"), bangumi_index_path %></li>
	<li class="<%= if current_page?(bangumi_timeline_path) then 'active' end %>"><%= link_to (fa_icon "calendar-check-o"), bangumi_timeline_path %></li>
        <li class="<%= if current_page?(feeds_path) then 'active' end %>"><%= link_to (fa_icon "rss"), feeds_path %></li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="post">
        <div class="form-group">
          <input type="text" class="form-control" disabled="" placeholder="Not now...">
        </div>
        <button type="submit" class="btn btn-default disabled"><%= (fa_icon "search") %></button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="disabled"><a href="#"><%= fa_icon "sign-in" %> Let there be login.</a></li>
      </ul>
    </div>
  </div>
</nav>
